@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffffff;
}
img{
    width: 100%;
    height: 100%;
    object-fit:contain;
  
}
html,body{
    background: black;
    color: #ffffff;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 프로젝트 페이지 내용 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 프로젝트 페이지 아이콘, 소개페이지 타이틀 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 소개페이지 폰트 */
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay';
    font-weight: normal;
    src: url('../mylittlegoods_site/font/PlayfairDisplay-MediumItalic.ttf');
}
@font-face {
    font-family: 'lora';
    font-weight: normal;
    src: url('../mylittlegoods_site/font/Lora-BoldItalic.ttf');
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../mylittlegoods_site/font/Pretendard-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
.grid_wrap,.fix_gear{
    height: 100vh;
}
