@charset "utf-8";

/* 노토산스 */


@font-face {
	font-family: 'NotoSansKR';
	src:  url('../font/NotoSansKR-Regular.woff') format('woff');
	font-style: normal;
}

/* 프리텐다드 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 에스코어드림 */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('../font/SCDream3.otf');
    font-weight: normal;
    font-style: normal;
}


/* 나눔스퀘어 R */
@font-face {
    font-family: 'NanumSquareR';
    font-weight: normal;
    src: url('../font/NanumSquareR.ttf');
}

/* 나눔스퀘어 B */
@font-face {
    font-family: 'NanumSquareB';
    font-weight: bold;
    src: url('../font/NanumSquareB.ttf');
}

/* 지마켓산스 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 둘기마요_고딕 */
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('../font/Dovemayo_gothic.ttf');    
    font-weight: normal;
    font-style: normal;
}

/* Orbit */
@font-face {
    font-family: 'Orbit-Regular';
    src: url('../font/Orbit-Regular.ttf');    
    font-weight: normal;
    font-style: normal;
}

/* 나눔명조 */
@font-face {
    font-family: 'NanumMyeongjo';
    font-weight: normal;
    src: url('../font/NanumMyeongjo.ttf');
}

/* 조선궁서 */
@font-face {
    font-family: 'ChosunGs';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 나눔손글씨 */
@font-face {
    font-family: 'NanumPen';
    font-weight: normal;
    src: url('../font/NanumPen.otf');
}

/* 잉크립퀴드체 */
@font-face {
    font-family: 'InkLipquid';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 둘기마요_거친 */
@font-face {
    font-family: 'Dovemayo_wild';
    src:url('../font/Dovemayo_wild.ttf');
    font-weight: normal;
    font-style: normal;
}

/* 고딕아니고 고딩 */
@font-face {
    font-family: 'Gothic_Goding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Gothic_Goding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 밑미 */
@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 모노타입 */
@font-face {
    font-family: 'monotype';
    font-weight: normal;
    src: url('../font/Monotype Corsiva.ttf');
}


/* 캐비어 드림 */
@font-face {
    font-family: 'caviardreams';
    font-weight: normal;
    src: url('../font/CaviarDreams.ttf');
}


/* 헬골란트 */
@font-face {
    font-family: 'helgoland';
    font-weight: normal;
    src: url('../font/Helgoland.otf');
}

/* 컨티뉴어스 */
@font-face {
    font-family: 'continuous';
    font-weight: normal;
    src: url('../font/continuous.ttf');
}

/* 내 손글씨 */
@font-face {
    font-family: 'Uiyeun';
    src: url('../font/Uiyeun.ttf');
    font-weight: normal;
    font-style: normal;
}