@charset "utf-8";


*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333333;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
html,body{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
.wrap {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
section {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.product_page,.sunjung_2{
    padding-top: 50px;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}