@media all and (min-width:1200px){
    
.header{
    position: fixed;
    z-index: 9999;
}
.logo{
    width: 150px;
    height: 80px;
    margin: 10px;
    float: left;
}
.top_menu_wrap{
    float: right;
    width: 65%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
}
.top_menu_wrap a{
    color: white;
}
.top_menu{
   
    width: 25%;
    height: 100%;
}
.top_menu li{
    cursor: pointer;
}
#ch_but,.la_but,.ch_con{
    display: none;
}
.page{
    position: relative;
}
/* 1페이지  */
.page_1{
    transition: 0.5s;
}
.img_box{
    border-top: 30px red solid;
    border-bottom: 30px red solid;
    box-sizing: border-box;
    display: none;
}
.img_box_1{
    display: block;
}
.img_box img{
    object-fit:cover;
}
.product_menu_wrap{
    background-color: white;
    border-radius: 25px;
    display: flex;
}
.product_button{
    width: 25%;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}
.but{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size:22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 900;
}
.but_img{
    width: 25%;
    height: 90%;
    object-fit:cover;
}
.p_name{
    width: 75%;
    height: 100%;
}
.goldbear{
    position: absolute;
    right: 3%;
    bottom: 15%;
    z-index: 1000;
}
.pop_up{
    display: none;
}
.pop_up_1{
    display: block;
}

/* 2페이지 */
.i_con_1{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 65%;
    left: 0;
}
.bear img{
    object-fit:cover;
}
.wrap{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    bottom: -1000px;
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}
.i_con_2{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.i_con_3{
    width: 100%;
    height: 40%;
    text-align: center;
    padding: 2.5% 0;
}
.i_con_4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5%;
}

/* 3페이지 */
.promotion_box{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    margin: 0 auto;
}
.button_3{
    width: 200px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    bottom:5%;
    left:7%;
    font-size: 20px;
    font-weight: 800;
    border: 5px solid white;
    border-radius: 50px;
    text-align: center;
}
.button_3 a{
    color: white;
}



/* 4페이지 */

.float{
    width: 100%;
    height: 100%;
    position: relative;
}
.box{
    background-color: white;
    width: 20%;
    height: 50%;
    padding: 1%;
    box-sizing: border-box;
    position: absolute;
    border-radius: 30px;
    box-shadow: 0px 3px 29px 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    
}
.box:hover{
    transform: translateX(0);
}
.box_1{
 left: 10%;
 top:20%;
 transform: translateX(0) rotate(-18deg);
}
.box_2{
    transform: translateX(0) rotate(12deg);
    left: 30%;
    top:35%
}
.box_3{
    left:50%;
    top: 20%;
    transform: translateX(0) rotate(-18deg);
}
.box_4{
    top:35%;
    left: 70%;
    transform: translateX(0) rotate(12deg);
}
.con{
    width: 100%;
    height: 80%;
}
.con_text{
    width:100%;
    height: 20%;
    font-weight: 700;
    text-align: center;
}
/* 젤리 슬라이드 */
.page_5{
    display: flex;
    align-items: center;
}


/* 푸터 */
.footer{
    border-top: 1px solid #333;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.fo_wrap{
    width: 33%;
    height: 100%;
}
.sns_wrap{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

}